*.pyc
*~
CMakeFiles
CMakeCache.txt
Makefile
ui_*
*.pddl
*.o
*.so
cmake_install.cmake
*automoc.cpp
build
install_manifest.txt
*agm_config.h
*moc_*
*after_plan_step*
*cache_D*
*cache_G*
*cache_I*
*cache_pla*
*AGMExecutive.h
*AGMWorldModel.h
*CommonBehavior.h
*Planning.h
agm_xml2pddlProblem
agm_xmlViewer3D
doc/Doxyfile
testagm
tools/agminner/bin/
tools/agmmission/bin/

