*~
*.o
moc_*
*.cxx
*.so
*.a
ui_*
*.pyc
CMakeCache.txt
CMakeFiles

# Build and Release Folders
bin/
bin-debug/
bin-release/
.settings/

moc*.cxx
*~
CMakeFiles
CMakeCache.txt
cmake_install.cmake
CommonBehavior.cpp
CommonBehavior.h
DifferentialRobot.cpp
DifferentialRobot.h
GualzruGoto.cpp
GualzruGoto.h
Laser.cpp
Laser.h
LocalNavigator.cpp
LocalNavigator.h
Makefile
ui_*.h
GualzruSaccadeAnticipation.cpp
GualzruSaccadeAnticipation.h
JointMotor.cpp
JointMotor.h
Executive.cpp
Executive.h
GualzruBehavior.cpp
GualzruBehavior.h
GualzruBehaviorPitchRoll.cpp
GualzruBehaviorPitchRoll.h
IMU.cpp
IMU.h
WorldModel.cpp
WorldModel.h
bin
core
*.kate-swp
CloudPrimitives.cpp
CloudPrimitives.h
GualzruBehaviorYaw.cpp
GualzruBehaviorYaw.h
RGBD.cpp
RGBD.h
WorldModel.cpp
WorldModel.h
install_manifest.txt
*.so
CommonHead.cpp
CommonHead.h
GualzruBehaviorDistance.cpp
GualzruBehaviorDistance.h
Dummy.cpp
Dummy.h
Planning.cpp
Planning.h
libgualzru_worldmodel_a.a
GualzruBehaviorSaccade.cpp
GualzruBehaviorSaccade.h
*.o
*.a
Speech*
log
fastdownward
GualzruBehaviorUnknown.cpp
GualzruBehaviorUnknown.h
kk
kk.*
*.kk
*.pcd
InnerModelManager.*
.*~
moc_*
*.o
*.log
*.cmake
*.kdev4
*.cmake
CXX.*
