.*~
bin
bin/
bin-debug/
bin-release/
build/*
CloudPrimitives.cpp
CloudPrimitives.h
cmake_install.cmake
CommonBehavior.cpp
CommonBehavior.h
CommonHead.cpp
CommonHead.h
CXX.*
DifferentialRobot.cpp
DifferentialRobot.h
Dummy.cpp
Dummy.h
Executive.cpp
Executive.h
fastdownward
GualzruBehavior.cpp
GualzruBehaviorDistance.cpp
GualzruBehaviorDistance.h
GualzruBehavior.h
GualzruBehaviorPitchRoll.cpp
GualzruBehaviorPitchRoll.h
GualzruBehaviorSaccade.cpp
GualzruBehaviorSaccade.h
GualzruBehaviorUnknown.cpp
GualzruBehaviorUnknown.h
GualzruBehaviorYaw.cpp
GualzruBehaviorYaw.h
GualzruGoto.cpp
GualzruGoto.h
GualzruSaccadeAnticipation.cpp
GualzruSaccadeAnticipation.h
IMU.cpp
IMU.h
InnerModelManager.*
libs/innermodel/include/innermodel/innermodelconfig.h
install_manifest.txt
JointMotor.cpp
JointMotor.h
*.kate-swp
*.kdev4
kk
*.kk
kk.*
Laser.cpp
Laser.h
libgualzru_worldmodel_a.a
LocalNavigator.cpp
LocalNavigator.h
log
*.log
Makefile
moc_*
moc*.cxx
*.pcd
*.pddl
Planning.cpp
Planning.h
*.pyc
RGBD.cpp
RGBD.h
.settings/
Speech*
ui_*.h
ui_**.pyc
.idea/
/components/CMakeLists.txt
*CMakeFiles/

*.cmake

*CMakeCache.txt

*build/

interfaces/*.ice

tools/robocompdsl/test/resources/InnerModelManager_generated.ice

components/melex-rodao/

*.cbp

*cmake-build-default/
