<?xml version="1.0"?>

<model>
  <name>TurtleBot ROS</name>
  <version>1.0</version>
  <sdf version="1.5">turtle.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <description>
    A model of the turtlebot
  </description>

  <depend>
    <model>
      <uri>model://kinect</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://createROS</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
