.tabs, .tabs2, .tabs3 {
    width: 100%;
    z-index: 101;
    font-size: 13px;
    font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
}

.tabs2 {
    font-size: 10px;
}
.tabs3 {
    font-size: 9px;
}

.tablist {
    margin: 0;
    padding: 0;
    display: table;
}

div.tabs
{
	 background-color: #eeeeee;
}

.contents div
{
	width: 95%;
	margin: 0 auto;
}

.tablist li {
    float: left;
    display: table-cell;
    line-height: 36px;
    list-style: none;
}

.tablist a {
    display: block;
    padding: 0 20px;
    font-weight: bold;
    color: #000000;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
    text-decoration: none;
    outline: none;
}

.tabs3 .tablist a {
    padding: 0 10px;
}

.tablist a:hover {
    color: #fff;
    background-color: #888888;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
    text-decoration: none;
}

.tablist li.current  {
    background-color: #004400;
}

.tablist li.current a {
    background-color: #44444;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
}


div.image img[src="../../wholePicture.png"]{ 
    width: 50%;
}
