[Desktop Entry]
Version=1.0
Value=1.0
Type=Application
Encoding=UTF-8
Name=RCControlPanel
Comment=RCControlPanel - RoboComp Control Panel
Exec=/opt/robocomp/bin/rccontrolpanel
Icon=
Terminal=false
Categories=RoboComp;
