[Desktop Entry]
Type=Application
Exec=sh /home/robocomp/bin/setx.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=xrandr
Name=xrandr
Comment[en_US]=
Comment=
