---
name: Check Docs
on:
  push:
    paths:
      - '**.md'
  pull_request:
    paths:
      - '**.md'
  repository_dispatch:
jobs:
  markdown-link-check:
    name: Broken Links
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run link check
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          use-quiet-mode: 'no'
          use-verbose-mode: 'yes'